@model IEnumerable< WebApplication1.Models.JobDetails>

@{
    ViewBag.Title = "Index1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>JobPortal - Free Bootstrap 4 Template by Colorlib</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/jobportal/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/jobportal/css/animate.css">

    <link rel="stylesheet" href="~/jobportal/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/jobportal/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/jobportal/css/magnific-popup.css">
    <link rel="stylesheet" href="~/jobportal/css/aos.css">
    <link rel="stylesheet" href="~/jobportal/css/ionicons.min.css">
    <link rel="stylesheet" href="~/jobportal/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/jobportal/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/jobportal/css/flaticon.css">
    <link rel="stylesheet" href="~/jobportal/css/icomoon.css">
    <link rel="stylesheet" href="~/jobportal/css/style.css">
</head>
<body>

    
<!-- END nav -->
    <div class="hero-wrap js-fullheight"  data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">

                    <p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We have <span class="number" data-number="850000">0</span> great job offers you deserve!</p>
                    <h1 class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Your Dream <br><span>Job is Waiting</span></h1>
                    <div class="ftco-search">
                        <div class="row">
                            <div class="col-md-12 nav-link-wrap">
                                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Find a Job</a>
                                </div>
                            </div>
                            @using (Html.BeginForm("Search1", "Home", FormMethod.Post))
                            {
                                <div class="col-md-12 tab-wrap">
                                    <div class="tab-content p-4"  id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                                            <form action="#" class="search-job">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div class="form-field">
                                                                <input type="text" class="form-control"  name="SearchName" id="SearchName" placeholder="eg. Garphic. Web Developer">
                                                            </div>
                                                        </div>
                                                    </div>      
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div class="form-field">
                                                                <input type="submit" value="Search " class="input-search  ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>                                      
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="ftco-section bg-light">
    <div class="container">
             @if (Model.Count() > 0)
              {
                  <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"><span>Recently Added Jobs</span> Jobs</h2>
            </div>
        </div>
             <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12 ftco-animate">
                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">

                                <h2 class="mr-3 text-black h3">@item.JobTitle</h2>                               
                                <div class="badge-wrap">
                                    <span class="bg-primary text-white badge py-2 px-3">@item.JobType</span>
                                </div>
                            </div>
                            <div class="badge-wrap">
                                <span class="bg-primary text-white badge py-2 px-3">@item.DateJob</span>
                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="icon-layers"></span> <a href="#">@item.CompanyName</a></div>
                                <div><span class="icon-my_location"></span> <span>@item.Address</span></div>
                            </div>
                        </div>
                        <div class="ml-auto d-flex">
                            @Html.ActionLink("Details", "Details1", new { JobId = item.JobId }, new { @class = "btn btn-primary py-2 mr-1" })
                            <a href="#" class="btn btn-secondary rounded-circle btn-favorite d-flex align-items-center icon">
                                <span class="icon-heart"></span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
              }        
              else
              {
                       <div class="row justify-content-center mb-5 pb-3">
                         <div class="col-md-7 heading-section text-center ftco-animate">
                            <h2 class="mb-4"><span>No Result</span> Found</h2>
                         </div>
                     </div>                
              }
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter"  data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="1350000">0</strong>
                                <span>Jobs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="40000">0</strong>
                                <span>Members</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="30000">0</strong>
                                <span>Resume</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="10500">0</strong>
                                <span>Company</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

